/*-- scss:defaults --*/
$presentation-h1-font-size: 3em;
$presentation-font-size-root: 30px;


.reveal section h1 {
  color: #005A83;
}

.reveal section h2 {
  color: #0075AA;
}


.reveal .slide-logo {
  display: block !important;
  position: fixed !important;
  bottom: 0 !important;
  right: 5px !important;
  max-height: 8% !important;
  height: 10% !important;
  width: auto !important;
}